<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <!-- 配置页面基础路径-->
    <base th:href="${#request.getContextPath()+'/'}">
    <link href="css/form.css" rel="stylesheet">
</head>
<body>
<div class="user-form">
    <p th:text="${msg}" style=" color: red;padding:15px 0;"></p>
    <form method="get" action="/user/login">
        <div class="user-form-item">
            <input class="user-input" type="text" name="username" max="15" maxlength="15" placeholder="用户名">
        </div>
        <div class="user-form-item">
            <input class="user-input" type="password" name="password" max="15" maxlength="15" placeholder="密码">
        </div>

        <div class="user-form-item">
            <input type="submit" value="登录" class="user-form-button" >
        </div>

        <div class="user-form-item">
            <a href="/register.html">注册账号</a>
        </div>

    </form>
</div>
</body>
</html>
